@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

.dragscroll {
    cursor: grab;
}

.navbar-1-1 #menu-toggle:checked+#menu,
.navbar-1-1 #menu-toggle:checked+#menu+#menu {
    display: block;
}

.align-sub {
    vertical-align: sub;
}

@media only screen and (min-width: 992px) {
    .hero-bg {
        background-image: url('../images/hero-bg.svg');
    }
    .cta-bg {
        background-image: url('../images/cta-bg.svg');
        background-position: center top;
    }
}

.list-check {
    li {
        background: url('../images/check-icon.svg') no-repeat left center;
        list-style: none;
    }
}